<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 >Özelleştirilmiş arama motoru</h5>
              <p>Arama sonuçlarına göre doğrudan içeriğe erişimi kolaylaştıran arama motoru.</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Kullanılan Araçlar</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a target="_blank" href="https://www.python.org">Python</a>
                </li>
                <li>
                  <a target="_blank" href="http://flask.pocoo.org">Flask</a>
                </li>
                <li>
                  <a target="_blank" href="https://getbootstrap.com/docs/4.0/examples/">Bootstrap</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.syntevo.com/smartgit/">SmartGit</a>
                </li>
                <li>
                 <a target="_blank" href="https://redis.io">Redis</a>
                </li>
                <li>
                  <a target="_blank" href="https://sentry.io/features/dashboards/">Sentry</a>
                </li>
                <li>
                     <a target="_blank" href="https://www.getpostman.com/products">Postman</a>
                </li>
                <li>
                    <a target="_blank" href="https://protonail.com">Keylord</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.nginx.com">NGINX</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Paneller</h5>
      
              <ul class="list-unstyled">
                <li>
                    <a target="_blank" href="https://gitlab.com/cnra/ara">Gitlab - Kaynak Kod Yönetimi</a>
                </li>
                <li>
                  <a target="_blank" href="http://sentry.fikir.pw/sentry/ara/dashboard/">Sentry - Hata takip</a>
                </li>
                <li>
                  <a target="_blank" href="https://dashboard.redisgreen.net/monitors/vt0b97gsh57a80kvxwpxp0h4/performance">Redis Green - Cache Kullanımı</a>
                </li>
                <li>
                  <a target="_blank" href="https://console.scaleway.com/compute/servers">Scaleway - Sunucu ölçeklendirme</a>
                </li>
                <li>
                    <a target="_blank" href="https://xml.yandex.com/settings/">XML Yandex - Arama API Birimi</a>
                </li>
              
                
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">2019 Özelleştirilmiş arama motoru
          
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->