<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <a class="navbar-brand" href="/">Arama Motoru</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a target="_blank" class="nav-link" href="/about">Hakkında</a></li>
        <li class="nav-item"><a target="_blank" class="nav-link" href="https://gitlab.com/cnra/ara">Kaynak Kod</a></li>
        <li class="nav-item"><a target="_blank" class="nav-link" href="http://sentry.fikir.pw/sentry/ara/dashboard/">Hata Takip</a></li>
        <li class="nav-item"><a target="_blank" class="nav-link" href="https://dashboard.redisgreen.net/monitors/vt0b97gsh57a80kvxwpxp0h4/performance">Cache Kullanımı</a></li>
        
        <li class="nav-item"><a class="nav-link" href="/togglecache">Cache: {{g.cache_status}}</a></li>
        
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>