<nav style="margin-top: 1em">
<ul class="pagination">
    {% if page > 0 %}
    <li class="page-item"><a class="page-link" href="/ara/{{query}}/{{page-1}}">Önceki</a></li>
        
    {% endif %}
    {% for i in pages %}
        {% if page == i %}
        <li class="page-item"><b><a class="page-link" href="/ara/{{query}}/{{i}}">{{i+1}}</a></b></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="/ara/{{query}}/{{i}}">{{i+1}}</a></li>
        {% endif %}

    {% endfor %}
    {% if page < 99 %}
    <li class="page-item"><a class="page-link" href="/ara/{{query}}/{{page+1}}">Sonraki</a></li>
    {% endif %}
</ul>
</nav>
