    <form action="/" method="GET">

        <div class="form-group">
        <label for="searchText">Aranacak Metin</label>
        <input type="text" class="form-control" name="q" id="searchText" 
            aria-describedby="araHelp" placeholder="Aranacak Metin" value="{{inputtext}}">

        <small id="araHelp" class="form-text text-muted">Aranacak metin giriniz. Alttaki test içeriklerinden de faydalanabilirsiniz</small>
        <button type="submit" class="btn btn-success btn-lg">Ara »</button>
        </div>
    </form>
