{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
<h1>özelleştirilmiş arama hakkında</h1>
<p class="lead">proje 2 için geliştirilmiş bir özelleştirilmiş arama motoru</p>
</div>
{% endblock %}
