<h2>{{h1}}</h2>
<p>sözlerinin getirilmesi <b>{{ g.request_time() }}</b> sürdü<br>

        {% if cache %}
        <i> -- sonuçlar cacheten getirildi</i>
        {% else %}
        <i> -- sonuçlar internetten getirildi</i><br>
        {% endif %}
</p>
<div>{{lyric|safe}}</div>
<p><b>kaynak: </b><a target="_blank" href="{{url}}">{{url}}</a></p>
<style>
div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>