<h2>{{fullname}}</h2>
<p>
    indirme bağlantılarının getirilmesi <b>{{ g.request_time() }}</b> saniye sürdü
    {% if c %}
    <i> -- sonuçlar cacheten getirildi</i>
    {% else %}
    <i> -- sonuçlar internetten getirildi</i><br>
    {% endif %}
</p>

<p style="float: left; width: 15em">{{desc}}</p>
<a href="{{downloadUrl}}"  target="_blank">
    <img src="{{icon}}" height="128" width="128" />
    <img src="/static/indir.png">
</a><br>
<p><b>boyut: </b>{{size}} <b>yayıncı: </b>{{publisher}}</p>
<a href="{{downloadUrl}}" target="_blank">{{downloadUrl}}</a>


