<link rel="stylesheet" href="https://www.turkcealtyazi.org/templates/bo2Soft/ada.css?v=369" type="text/css" />
<link rel="stylesheet" href="https://www.turkcealtyazi.org/templates/css/jquery-ui.css" type="text/css" />

<p>altyazıların getirilmesi <b>{{ g.request_time() }}</b> saniye sürdü -- 
    {% if cache %}
        <i> -- sonuçlar cacheten getirildi</i>
    {% else %}
        <i> -- sonuçlar internetten getirildi</i><br>
    {% endif %}
</p>

<script type="text/javascript" src="https://www.turkcealtyazi.org/templates/js/jquery.js"></script>
<script type="text/javascript" src="https://www.turkcealtyazi.org/templates/js/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.turkcealtyazi.org/templates/js/jquery-plugins.js?v=11"></script>
<script type="text/javascript" src="https://www.turkcealtyazi.org/templates/js/jquery-common.js?v=308"></script>

{{block|safe}}