<h2>{{title}}</h2>
<p>tanımların getirilmesi <b>{{ g.request_time() }}</b> sürdü
    {% if cache %}
    <i> -- sonuçlar cacheten getirildi</i>
    {% else %}
    <i> -- sonuçlar internetten getirildi</i><br>
    {% endif %}
</p>
<img src="https://ekstat.com/img/new-design/eksisozluk_logo.svg" width="192" style="float:right"/>
<div>{{block|safe}}</div>
<p><b>kaynak: </b><a  target="_blank" href="{{url}}">{{url}}</a></p>
<style>
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>