
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://www.epey.com/stil.css?v=33.1.57" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.epey.com/menu.css?v=1.6" media="screen" /><link rel="shortcut icon" href="https://cdn3.epey.com/resim/tema/epey-favicon.ico">
    
</head>
<body>
		<p>{{ g.request_time() }} saniye sürdü

				{% if cache %}
				<i> -- sonuçlar cacheten getirildi</i>
				{% else %}
				<i> -- sonuçlar internetten getirildi</i><br>
				{% endif %}
		</p>

        {{block|safe}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn3.epey.com/eklenti/izimodal/iziModal.min.css">
<script async="async" src="https://cdn3.epey.com/eklenti/izimodal/iziModal.min.js" type="text/javascript"></script>
<script>
$(function(){ 
  $(".galeri").iziModal({
    history: false,
    iframe : true,
    fullscreen: false,
    headerColor: '#D96142',
	loop: true,
		width:970,
	iframeHeight: 650,
	  });
})
</script>
<script>
$(function(){ 
  $(".video").iziModal({
    history: false,
    iframe : true,
    fullscreen: false,
    headerColor: '#D96142',
	loop: true,
		width:970,
	iframeHeight: 650,
	  });
})
</script>
<div id="modal-video" class="video" style="z-index:10000;" data-izimodal-transitionin="fadeInUp" data-izimodal-title="Samsung Galaxy S10" data-izimodal-iframeURL="https://www.youtube.com/embed/?autoplay=1"></div>
<script type="text/javascript" src="https://cdn3.epey.com/eklenti/simplemodal/jquery.simplemodal.js"></script>
<script type="text/javascript">
$(".galerim").hide();$(".galerim:first").show();
$("ul.galerik li").hover(function(e){$(".galerim").hide();
var t=$(this).find("a").attr("href");$(t).show();e.preventDefault()});var tag=document.createElement("script");tag.src="https://www.youtube.com/iframe_api";var firstScriptTag=document.getElementsByTagName("script")[0];firstScriptTag.parentNode.insertBefore(tag,firstScriptTag);var player;var done=false;
jQuery(function(e){
e(".bresim").click(function(){var t="https://www.epey.com/akilli-telefonlar/samsung-galaxy-s10-resimleri.html";e.modal('<iframe src="'+t+'" width="1000" height="600" style="border:0;overflow:hidden" scrolling="no">',{closeHTML:"<span class='iptalikonsag'><span>",containerCss:{backgroundColor:"#fff",borderColor:"#fff",width:1030,height:620,padding:0},overlayClose:true}).attr('rel', 'nofollow')});e(".bvideo").click(function(){var t="?autoplay=1";e.modal('<iframe src="'+t+'" width="1000" height="600" style="border:0;overflow:hidden" scrolling="no">',{closeHTML:"<span class='iptalikonsag'><span>",containerCss:{backgroundColor:"#fff",borderColor:"#fff",width:1030,height:620,padding:0},overlayClose:true})});});jQuery(function(e){e(".yorumyaz").click(function(){var t="https://www.epey.com/kat/yorumyaz/?urun_id=136486";e.modal('<iframe src="'+t+'" width="500" height="300" style="border:0;overflow:hidden" scrolling="no">',{closeHTML:"<span class='iptalikonsag'><span>",containerCss:{backgroundColor:"#fff",borderColor:"#fff",width:530,height:320,padding:0},overlayClose:true})})})
</script>
<script>
window.go = [];
window.go = {
marka : "Samsung",
fiyat : "5832.90",
ozellik : "Tek Hat",
os : "Android"
}
</script>
<script type="text/javascript" src="https://cdn3.epey.com/eklenti/jRating.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
		$('.basic').jRating({
		length: 5,
		decimalLength: 1,
				onSuccess : function(){
			$("#yorumyap").show("slow");
			$("#yorumyap").css("z-index","99999999");
		},
		onError : function(){
			jError('Hata : Tekrar deneyiniz!');
		}
		});
		});
		$(document).bind('click', function(e) {
		if($(e.target).closest('.fb-comments').length == 0) {
			$("#yorumyap").hide("slow");
		}
		});
</script>
<script>
var num=400;$(window).bind("scroll",function(){if($(window).scrollTop()>num){$("#usttablo").css("top","0").fadeIn(500);$(".yukarigit").fadeIn(500);$("#sagblokfix").addClass("sagblokfix")}else{$("#usttablo").css("top","-115px");$(".yukarigit").fadeOut(500);$("#sagblokfix").removeClass("sagblokfix")}})</script>


</body>
</html>


