{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
        <div class="container">
          <h1 class="display-5">Özelleştirilmiş Arama Motoru</h1>
          <p>İçeriğe erişimi kolaylaştıran bir özelleştirilmiş arama motoru</p>          
          {% include 'includes/_searchform.html' %}
          <h2>test içerikleri</h2>
          <a class="btn btn-info" href="/ara/westworld+altyazi/" role="button">Altyazı indirme</a>
          <a class="btn btn-info" href="/ara/vlc+indir/" role="button">Program indirme</a>
          <a class="btn btn-info" href="/ara/ipad+air/" role="button">Ürün Özellikler</a>
          <a class="btn btn-info" href="/ara/samsung+s10+en+ucuz/" role="button">Fiyat karşılaştırma</a>
          <a class="btn btn-info" href="/ara/redis/" role="button">Sözlük tanımlar</a>
          
          <!-- <a class="btn btn-info" href="/ara/edirne+nufus/" role="button">Bilgi Arama</a> -->
          <a class="btn btn-info" href="/ara/ben+böyleyim/" role="button">Şarkı sözü</a>
          <a class="btn btn-info" href="/ara/grimes+reality/" role="button">Şarkı sözü yabancı</a>
          
          <a class="btn btn-info" href="/hata" role="button">Hata</a>
          <p><br><a class="btn btn-light" href="/about" role="button">Hakkında</a></p>
          <p><br><a class="btn btn-warning" href="/togglecache" role="button">Cache: {{g.cache_status}}</a></p>
        </div>
      </div>
{% endblock %}
