<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Arama motoru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">
</head>
<body>
    
    {% include 'includes/_navbar.html' %}
    <main role="main">
        <div class=" col-md-10 container" >
        {% block body %} {% endblock %}
    </div>
    </main>
    <!-- <script src="/static/bootstrap.min.js"></script> -->
    {% include 'includes/_footer.html' %}
</body>
</html>