{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_searchform.html' %}

<p>
    <b>{{query.replace("+", " ")}}</b> araması için <b>{{res['count']}}</b> sonuc bulundu.
    arama sonuçlarının getirilmesi <b>{{ g.request_time() }}</b> saniye sürdü
    {% if cache %}
        <i> -- sonuçlar cacheten getirildi</i>
    {% else %}
        <i> -- sonuçlar internetten getirildi</i><br>
    {% endif %}

</p>

{% if yt_vid %}
<iframe width="720" height="480" style="width: 69%" src="https://www.youtube.com/embed/{{yt_vid}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}

{% if parserurl %}
    {% if parser ==  "Turkcealtyazi" %}
    <iframe src="{{parserurl}}" style="width: 100%; height: 30em; border: none;"></iframe>
    {% elif parser ==  "Gezginler" %}
    <iframe src="{{parserurl}}" style="width: 100%; height: 20em; border: none;"></iframe>
    {% elif parser ==  "Alternatifim" %}
    <iframe src="{{parserurl}}" style="width: 30%; height: 30em; border: none;"></iframe>
    {% elif parser ==  "Genius" %}
    <iframe src="{{parserurl}}" style="width: 30%; height: 30em; border: none;"></iframe>
    {% elif parser ==  "EpeyUrun" %}
    <iframe src="{{parserurl}}" style="width: 100%; height: 20em; border: none;"></iframe>
    {% elif parser ==  "AkakceUrun" %}
    <iframe src="{{parserurl}}" style="width: 100%; height: 50em; border: none;"></iframe>
    {% elif parser ==  "Eksi" %}
    <iframe src="{{parserurl}}" style="width: 100%; height: 20em; border: none;"></iframe>
    {% else %}
    parser tanınamadı
    {% endif %}
{% endif %}
{% include 'includes/_pagination.html' %}


<ul class="list-group"> 
    {% for res in result %}
        <li class="list-group-item">
            <a target="_blank" href="{{res.url}}">{{ res.title }}</a>
            <small>{{res.url}}</small>
            <p>{{res.desc}}</p>
            {% if res.urldata and res.urldata.type == "subtitle" %}
            <a class="btn btn-primary" href="{{res.urldata.btn_url}}" target="_blank" role="button">{{res.urldata.btn_text}}</a>
            {% endif %}

            {% if res.urldata and res.urldata.type == "download" %}
            <img src="{{ res.urldata.logo_url }}" alt="">
            <a class="btn btn-primary" href="{{res.urldata.btn_url}}" target="_blank" role="button">{{res.urldata.btn_text}}</a>
            {% endif %}

            {% if res.urldata and res.urldata.type == "spec" %}
            <img src="{{ res.urldata.spec_img }}" alt="">
            {% endif %}
            
            {% if res.urldata and res.urldata.type == "info" %}
            <h3  class="font-weight-light">{{ res.urldata.info|safe }}</h3>
            {% endif %}
            
            
        </li>
    {% endfor %}
</ul>

{% include 'includes/_pagination.html' %}

{% endblock %}
